<h1 class="mt-4">Serviço Prestado</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Pesquisa de Serviços</li>
    </ol>
</nav>
    <div class="container">
        <form #consultarForm="ngForm" (submit)="buscar()">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputNome">Cliente</label>
                    <input type="text" [(ngModel)]="nome" name="nome" id="inputNome"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="inputNome">Mês</label>
                    <select [(ngModel)]="mes" class="form-control" name="mes">
                        <option value="">Selecione...</option>
                        <option *ngFor="let mes of meses" [value]="mes">
                            {{ mes }}
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-info">
                        <i class="fas fa-search"></i>
                        Consultar
                    </button>
                    <button type="button" routerLink="/servicos-prestados/form"
                        class="btn btn-outline-primary ml-1">
                            <i class="fa fa-plus"></i>
                        Novo
                    </button>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert" *ngIf="message">
                    {{ message }}
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Descricao</th>
                            <th>Valor</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tBody>
                        <tr *ngFor="let s of listaServicoPrestado">
                            <td> {{ s.cliente.nome }}</td>
                            <td> {{ s.descricao }}</td>
                            <td> {{ s.valor }}</td>
                            <td> {{ s.data }}</td>
                        </tr>
                    </tBody>
                </table>
        </div>
    </div>
</div>
