<h1 class="mt-4">Cadastro de Clientes</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Pesquisa de Serviços</li>
    </ol>
</nav>
    <div class="container">
        <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="success == true">
                        Cliente salvo/atualizado com sucesso!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                        {{ error }}
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="cliente.id">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ID:</label>
                        <input type="text" class="form-control" name="id" 
                            [ngModel]="cliente.id" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Data de Cadastro:</label>
                        <input type="text" class="form-control" name="dataCadastro" 
                            [ngModel]="cliente.dataCadastro"
                            disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Nome*:</label>
                        <input type="text" class="form-control" name="nome" 
                            [(ngModel)]="cliente.nome">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>CPF*:</label>
                        <input type="text" class="form-control" name="cpf" 
                            [(ngModel)]="cliente.cpf">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                        <i class="fa fa-save"></i>
                        Salvar
                    </button>
                    <button type="submit" class="btn btn-info" *ngIf="cliente.id">
                        <i class="fa fa-sync-alt"></i>
                        Atualizar
                    </button>
                    <button type="button" class="voltar btn btn-secondary ml-3" 
                        (click)="voltarParaListagem()">
                        <i class="fa fa-arrow-alt-circle-left"></i>
                        Voltar
                    </button>
                </div>
            </div>
        </form>
    </div>